body {
  /* background-color: rgb(2, 2, 2); */
  background: linear-gradient(to bottom, black, grey);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  color: aliceblue;
  text-align: center;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
  text-align: center;
  margin: 10px 0;
}
a {
  color: white;
  font-size: 15px;
}

img {
  width: 45px;
}
